server/src/main/app/business-config.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:http="http://www.mulesoft.org/schema/mule/http"
      xmlns:amqp="http://www.mulesoft.org/schema/mule/amqp"
      xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/3.5/mule.xsd
      http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/3.5/mule-http.xsd
      http://www.mulesoft.org/schema/mule/amqp http://www.mulesoft.org/schema/mule/amqp/3.3/mule-amqp.xsd">

    <flow name="BusinessListAllFlow">
        <amqp:inbound-endpoint queueName="${queue.businessListRequest}" exchange-pattern="one-way"
                               connector-ref="amqpRabbitMQConnector"/>
        <byte-array-to-string-transformer/>

        <transformer ref="JsonToRequestMessage_BusinessListRequest"/>
        <set-variable variableName="requestPayload" value="#[payload]"/>

        <flow-ref name="RetrieveUserInfo"/>

        <choice>
            <when expression="#[flowVars.authorized]">
                <enricher target="#[variable:bizList]">
                    <invoke object-ref="businessService" method="getListAllBusiness"
                            methodArguments="#[payload.service.pageSize],#[payload.service.pageNumber]"/>
                </enricher>
                <invoke object-ref="businessResponseProvider" method="createAllBusinessResponse"
                        methodArguments="#[flowVars.bizList],#[payload.service]"/>
            </when>
            <otherwise>
                <enricher target="#[payload]">
                    <invoke object-ref="businessResponseProvider" method="createAuthenticationFailureResponse"
                            methodArguments="#[payload.service.requestUUID]"/>
                </enricher>
            </otherwise>
        </choice>
        <transformer ref="ResponseMessageToJson"/>
        <set-property propertyName="Content-Type" value="application/json; charset=utf-8"/>
        <amqp:outbound-endpoint connector-ref="amqpRabbitMQConnector" exchangeName="${exchange.businessListResponse}"
                                exchangeType="topic" exchangeDurable="true" routingKey="${core.routing.key}"/>
        <exception-strategy ref="BusinessListException"/>
    </flow>

    <flow name="GetBusinessInfoFlow">
        <amqp:inbound-endpoint queueName="${queue.businessInfoRequest}" exchange-pattern="one-way"
                               connector-ref="amqpRabbitMQConnector"/>
        <transformer ref="JsonToRequestMessage_BusinessPaymentConfirmRequest"/>
        <set-variable variableName="requestPayload" value="#[payload]"/>

        <flow-ref name="RetrieveUserInfo"/>

        <choice>
            <when expression="#[flowVars.authorized]">
                <enricher target="#[variable:bizResponse]">
                    <invoke object-ref="businessService" method="getBusinessInfo"
                            methodArguments="#[payload.service.businessCode]"/>
                </enricher>
                <enricher target="#[payload]">
                    <invoke object-ref="businessResponseProvider" method="createBusinessPaymentConfirm"
                            methodArguments="#[flowVars.bizResponse],#[payload.service]"/>
                </enricher>
            </when>
            <otherwise>
                <enricher target="#[payload]">
                    <invoke object-ref="businessResponseProvider"
                            method="createBizPaymentConfirmAuthenticationFailureResponse"
                            methodArguments="#[payload.service.requestUUID]"/>
                </enricher>
            </otherwise>
        </choice>
        <transformer ref="ResponseMessageToJson"/>
        <amqp:outbound-endpoint connector-ref="amqpRabbitMQConnector" exchangeName="${exchange.bizInfoResponse}"
                                exchangeType="topic" exchangeDurable="true" routingKey="${core.routing.key}"/>
        <exception-strategy ref="BusinessInfoException"/>
    </flow>

</mule>