server/src/main/app/search-config.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:http="http://www.mulesoft.org/schema/mule/http"
      xmlns:amqp="http://www.mulesoft.org/schema/mule/amqp"
      xsi:schemaLocation="
      http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/3.5/mule.xsd
      http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/3.5/mule-http.xsd
      http://www.mulesoft.org/schema/mule/amqp http://www.mulesoft.org/schema/mule/amqp/3.3/mule-amqp.xsd">

    <flow name="BusinessSearchFlow">

        <amqp:inbound-endpoint queueName="${queue.businessSearchRequest}" exchange-pattern="one-way"
                               connector-ref="amqpRabbitMQConnector"/>
        <byte-array-to-string-transformer/>
        <transformer ref="searchBusinessRequestTransformer"/>
        <set-variable variableName="requestPayload" value="#[payload]"/>

        <flow-ref name="RetrieveUserInfo"/>
        <choice>
            <when expression="#[flowVars.authorized]">
                <enricher target="#[variable:bizList]">
                    <invoke object-ref="businessService" method="findBusiness"
                            methodArguments="#[payload.service.pageSize],#[payload.service.pageNumber],#[payload.service.term]"/>
                </enricher>
                <invoke object-ref="businessResponseProvider" method="createSearchBusinessResponse"
                        methodArguments="#[flowVars.bizList],#[payload.service]"/>
            </when>
            <otherwise>
                <enricher target="#[payload]">
                    <invoke object-ref="businessResponseProvider"
                            method="createAuthenticationFailureSearchBusinessResponse"
                            methodArguments="#[payload.service.requestUUID]"/>
                </enricher>
            </otherwise>
        </choice>
        <transformer ref="ResponseMessageToJson"/>
        <amqp:outbound-endpoint connector-ref="amqpRabbitMQConnector" exchangeName="${exchange.bizSearchResponse}"
                                exchangeType="topic" exchangeDurable="true" routingKey="${core.routing.key}"/>
        <exception-strategy ref="BusinessSearchException"/>
    </flow>

</mule>