server/src/main/app/transaction-config.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:http="http://www.mulesoft.org/schema/mule/http"
      xmlns:amqp="http://www.mulesoft.org/schema/mule/amqp"
      xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/3.5/mule.xsd
      http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/3.5/mule-http.xsd
      http://www.mulesoft.org/schema/mule/amqp http://www.mulesoft.org/schema/mule/amqp/3.3/mule-amqp.xsd">

    <flow name="TransactionListByUserIdFlow">
        <amqp:inbound-endpoint queueName="${queue.transactionListRequest}" exchange-pattern="one-way"
                               connector-ref="amqpRabbitMQConnector"/>
        <byte-array-to-string-transformer/>

        <transformer ref="JsonToRequestMessage_TransactionListRequest"/>
        <set-variable variableName="requestPayload" value="#[payload]"/>

        <flow-ref name="RetrieveUserInfo"/>

        <choice>
            <when expression="#[flowVars.authorized]">
                <enricher target="#[variable:trxList]">
                    <invoke object-ref="transactionService" method="getListByUser"
                            methodArguments="#[payload.service.userId],#[payload.service.pageSize],#[payload.service.pageNumber]"/>
                </enricher>
                    <invoke object-ref="transactionResponseProvider" method="createListByUserResponse"
                            methodArguments="#[flowVars.trxList],#[payload.service]"/>
            </when>
            <otherwise>
                <enricher target="#[payload]">
                    <invoke object-ref="transactionResponseProvider" method="createAuthenticationFailureResponse"
                            methodArguments="#[payload.service.requestUUID]"/>
                </enricher>
            </otherwise>
        </choice>
        <transformer ref="ResponseMessageToJson"/>
        <amqp:outbound-endpoint connector-ref="amqpRabbitMQConnector" exchangeName="${exchange.tnxListResponse}"
                                exchangeType="topic" exchangeDurable="true" routingKey="${core.routing.key}"/>
        <exception-strategy ref="TransactionListException"/>
    </flow>

</mule>