server-mock/src/main/app/illegal-apps-config.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:http="http://www.mulesoft.org/schema/mule/http"
      xmlns:amqp="http://www.mulesoft.org/schema/mule/amqp"
      xsi:schemaLocation="
        http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/3.5/mule.xsd
        http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/3.5/mule-http.xsd
        http://www.mulesoft.org/schema/mule/amqp http://www.mulesoft.org/schema/mule/amqp/3.3/mule-amqp.xsd">

    <flow name="IllegalAppListFlow">
        <byte-array-to-string-transformer/>
        <logger message="Illegal Apps Flow payload in flow entry : #[payload]" level="INFO"/>
        <transformer ref="illegalAppRequestTransformer"/>
        <set-variable variableName="authorized" value="#[true]"/>

        <choice>
            <when expression="#[flowVars.authorized]">
                <invoke object-ref="illegalAppsResponseBuilder" method="createIllegalAppSuccessResponse"
                        methodArguments="#[payload.service]"/>
                <set-property propertyName="status" value="200"/>
            </when>
            <otherwise>
                <logger message="Request failed" level="INFO"/>
            </otherwise>
        </choice>
        <transformer ref="ResponseMessageToJson"/>
        <logger message="VerifyAccountFlow payload after transformation : #[payload]" level="INFO"/>
        <set-property propertyName="Content-Type" value="application/json; charset=utf-8"/>
    </flow>

</mule>