server-mock/src/main/app/search-config.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:http="http://www.mulesoft.org/schema/mule/http"
      xsi:schemaLocation="
      http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/3.5/mule.xsd
      http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/3.5/mule-http.xsd">

    <flow name="BusinessSearchFlow">
        <byte-array-to-string-transformer/>
        <transformer ref="searchBusinessRequestTransformer"/>
        <invoke object-ref="businessesResponseBuilder" method="createSearchBusinessSuccessResponse"
                methodArguments="#[payload.service]"/>
        <transformer ref="ResponseMessageToJson"/>
    </flow>

</mule>