server-mock/src/main/app/tac-config.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:http="http://www.mulesoft.org/schema/mule/http"
      xsi:schemaLocation="
      http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/3.5/mule.xsd
      http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/3.5/mule-http.xsd">

    <flow name="TACFlow">
        <byte-array-to-string-transformer/>
        <logger message="TAC payload in flow entry : #[payload]" level="INFO"/>
        <transformer ref="tacRequestTransformer"/>
        <logger message="TAC payload requestUUID : #[payload.service.requestUUID]" level="INFO"/>
        <set-variable variableName="authorized" value="#[true]"/>
        <set-variable variableName="tacAccepted" value="#[false]"/>
        <set-variable variableName="userId" value="#['123456']"/>

        <choice>
            <when expression="#[flowVars.authorized]">
                <choice>
                    <when expression="#[flowVars.tacAccepted]">
                        <invoke object-ref="tacResponseBuilder" method="createTACAcceptedSuccessResponse"
                                methodArguments="#[payload.service], #[flowVars.userId]"/>
                        <set-property propertyName="status" value="200"/>
                    </when>
                    <otherwise>
                        <invoke object-ref="tacResponseBuilder" method="createTACSuccessResponse"
                                methodArguments="#[payload.service], #[flowVars.userId]"/>
                        <set-property propertyName="status" value="200"/>
                    </otherwise>
                </choice>
            </when>
            <otherwise>
                <invoke object-ref="tacResponseBuilder" method="createTACFailureResponse"
                        methodArguments="#[payload.service]"/>
                <set-property propertyName="status" value="401"/>
            </otherwise>
        </choice>
        <transformer ref="ResponseMessageToJson"/>
        <logger message="TAC payload after transformation : #[payload]" level="INFO"/>
        <set-property propertyName="Content-Type" value="application/json; charset=utf-8"/>
    </flow>

    <flow name="TACAcceptFlow">
        <byte-array-to-string-transformer/>
        <logger message="TACAccept payload in flow entry : #[payload]" level="INFO"/>
        <transformer ref="tacAcceptRequestTransformer"/>
        <logger message="TACAccept payload requestUUID : #[payload.service.requestUUID]" level="INFO"/>
        <set-variable variableName="authorized" value="#[true]"/>
        <set-variable variableName="userId" value="#['123456']"/>

        <choice>
            <when expression="#[flowVars.authorized]">
                <invoke object-ref="tacResponseBuilder" method="createTACAcceptSuccessResponse"
                        methodArguments="#[payload.service], #[flowVars.userId]"/>
                <set-property propertyName="status" value="200"/>
            </when>
            <otherwise>
                <invoke object-ref="tacResponseBuilder" method="createTACAcceptFailureResponse"
                        methodArguments="#[payload.service]"/>
                <set-property propertyName="status" value="401"/>
            </otherwise>
        </choice>
        <transformer ref="ResponseMessageToJson"/>
        <logger message="TACAccept payload after transformation : #[payload]" level="INFO"/>
        <set-property propertyName="Content-Type" value="application/json; charset=utf-8"/>
    </flow>




</mule>